
.skills-section {
  padding: 4rem 2rem;
  /* background-color: #f9fafb;  */
  text-align: center;
}

.skills-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #111;
  margin-bottom: 0.5rem;
}

.skills-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2.5rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skill-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

}

.skill-card {
  background-color: #ffffff;
  border-radius: 1000px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  padding: 1.2rem 1rem;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* .skill-card:hover {
  transform: scale(1.15);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
} */

.skill-card p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  color: #333;
  font-weight: bold;
}
